<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Generated Password</title>
  </head>
  <body style="text-align:center">

    <div class="jumbotron jumbotron-fluid">
            <h3 class="display-4" style="text-align:center;">Here's your password!</h3>
            <hr class="container">
            <p class="lead" style="text-align:center; font-weight:">Hit 'Generate Again' to get new passwords.</p>
        </div>
    <h2 class="container alert alert-success">{{ password }}</h2>
    <br><a href="{% url 'home' %}"><button type="submit" class="btn btn-primary" name="generate_again">Generate Again</button></a>
  </body>
</html>
